<h2>Welcome <%= current_user.first_name %></h2>

<h3>A list of your members:</h3>

<% current_user.members.each do |member| %>

<%= render 'members/member', member: member %><br>
<% end %>
<br>
<h3>A list of your orders:</h3>

<% current_user.orders.each do |order| %>

<%= render 'orders/order', order: order %><br>

<% end %> 
