<h1>Contact us</h1>

If you need to ask us a question about our products, or about an order, here's where to do it:


  <%= render 'contact/contact' %>


<%#= form_for @page, url: pages_contact_path do |f| %>

  <p>
    <%#= f.label :title %>
    <%#= f.text_field :title %>
  </p>

  <p>
    <%#= f.label :email %>
    <%#= f.text_area :email %>
  </p>

  <%#= f.submit 'Send message' %>

<%# end %>