<h1>Frequently Asked Questions</h1>

<p><b>Question:</b> How do I order a commemoration?</p>

<p><b>Answer:</b> Sign up for an account (free!), go to the "Enter a New Member" page and enter in the particulars.  Once the member has been identified, fill in the Posting History.  Confirm the information, and submit.  If you could find all the units in the listings, and if you didn't need to put any "Other Unit" enteries, you will be contacted by email with a proof sample of the commemoration.  Confirm the infomation and appearance as correct by logging back in and paying for the commemoration.  The commemortation will be printed, packaged and shipped to you.  You will receive an email advising you that the commemoration is on its way to you, with a package tracking number.  Depending on delivery methods, you will have the commemoration within a week.</p>

<p><b>Question:</b> How do I get the service member's history?</p>

<p><b>Answer:</b> If you are the member in particular, you know your career, or posting, history.  If you wish to have a commemoration done for a retiring member, you will have to obtain the posting history from the unit or the member.  If the member is departed, you will need to get that history from the departed member's records, if available, the last unit served at, if they still have any recordes (normally not longer than a year after departure), or other sources.  Service Honoured is not able to contact the Canadian Forces, nor the Library and Archives of Canada on your behalf.<br>
Service Honoured is not able to provide research services for people looking to commemorate departed service members.  Access to military records is available through Library and Archives Canada.  Inherent in this issue is that personal records are protected for 20 year past the death of the member, and proof of familial relationships is demanded for access to certain records.  Therefore, the customer has to provide the member history to produce a commemoration.</p>

<p><%= link_to "Library and Archives Canada - Military Heritage", "http://www.bac-lac.gc.ca/eng/discover/military-heritage/Pages/military-heritage.aspx" %></p>

<p><b>Question:</b> Can I get a framed commemoration?</p>

<p><b>Answer:</b> Service Honoured can not provide framed commemorations, but may, in the future, provide matching mat(s).  At this time, framing must be done by the recipient.  Mat color suggestions will be provided with the completed commemoration, along with recommendations for conservation mounting.

<p><b>Question:</b> Can I get copies of the badges?</p>

<p><b>Answer:</b>Service Honoured has requested and received permission from the Canadian Forces to use the badges and insignia in producing the commemorations.  The Canadian Forces holds the Intellectual Property rights for the badges, and controls the use of them.  We don't charge for the images, just the production of the commemortation and the shipping.  We don't post images of the badges on our site, as they are available through the Canadian Forces.

<p><%= link_to "Official Badges of the Canadian Forces", "http://www.cmp-cpm.forces.gc.ca/dhh-dhp/gal/bad-ins/index-eng.asp" %></p>