<hr>
<p><%#= link_to("#{pay_forward.date_paid} (Click for Details)",
                pay_forward_path(pay_forward))
                %></p>
<p>[Put the most current progress date and info here]</p>
 